* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-width: 100%;
}

.main {
  position: relative;
  height: 100%;
}

.main-image {
  width: 100%;
  position: absolute;
}

.dropdown {
  position: absolute;
  z-index: 1;
}
