@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --primary: 88, 106, 106;
  --secondary: 211, 185, 159;
  --tertiary: 66, 191, 221;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* button {
  border: 0;
}

.wrapper {
  max-width: 100%;
  height: 100vh;
  background-color: #000;
  overflow-x: hidden;
}

.main {
  position: relative;
  height: 100%;
}

.main-image {
  width: 100%;
  position: absolute;
  cursor: crosshair;
}
